In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

用 pd.read_csv 來讀取資料

In [7]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

Note: 在 jupyter notebook 中，可以使用 ? 來調查函數的定義

In [8]:
# for example
?pd.read_csv

接下來我們可以用 .head() 這個函數來觀察前 5 row 資料

In [9]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

資料的 row 數以及 column 數

In [10]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

列出所有欄位

In [12]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

截取部分資料

In [15]:
app_train.sort_values(by = 'NAME_CONTRACT_TYPE').head(100)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199750,331567,0,Cash loans,M,Y,N,1,225000.0,584766.0,28129.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199752,331569,0,Cash loans,F,N,Y,0,139500.0,450000.0,17095.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199753,331570,0,Cash loans,F,N,N,0,130500.0,900000.0,32017.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
199754,331571,0,Cash loans,F,N,Y,1,157500.0,549882.0,17869.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199755,331572,0,Cash loans,F,N,N,1,112500.0,265851.0,10255.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199756,331573,0,Cash loans,M,Y,Y,0,202500.0,1800000.0,49630.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
199757,331574,0,Cash loans,F,N,Y,0,157500.0,682875.0,24655.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
199758,331575,0,Cash loans,F,N,Y,0,72000.0,975771.0,28660.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
199759,331576,0,Cash loans,F,N,Y,1,180000.0,325282.5,17775.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199760,331577,0,Cash loans,M,Y,Y,0,135000.0,267102.0,20799.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199761,331578,0,Cash loans,M,Y,Y,0,135000.0,808650.0,29839.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
199762,331580,0,Cash loans,M,Y,Y,1,180000.0,1350000.0,39604.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199763,331581,0,Cash loans,M,N,N,0,135000.0,168102.0,13410.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
199764,331582,0,Cash loans,M,N,N,0,112500.0,254700.0,16582.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
199765,331583,0,Cash loans,F,N,Y,1,241650.0,1078200.0,31653.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199766,331584,0,Cash loans,F,N,Y,1,90000.0,555273.0,18040.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
199767,331585,0,Cash loans,M,Y,Y,0,202500.0,900000.0,34281.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199782,331602,1,Cash loans,M,N,N,1,135000.0,225000.0,26703.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
199781,331601,1,Cash loans,F,N,N,1,72000.0,232344.0,11992.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,7.0
199780,331600,0,Cash loans,F,N,Y,1,135000.0,957033.0,53437.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,4.0
199778,331597,0,Cash loans,F,Y,Y,1,112500.0,276277.5,23841.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
199777,331596,0,Cash loans,F,N,Y,2,112500.0,117162.0,12132.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,8.0
199776,331595,0,Cash loans,F,N,Y,0,157500.0,1012653.0,43033.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199749,331566,0,Cash loans,M,N,N,0,126000.0,808650.0,26217.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
199775,331594,0,Cash loans,F,N,Y,0,202500.0,454500.0,27063.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
199773,331592,0,Cash loans,F,N,Y,1,180000.0,765000.0,25411.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,6.0
199772,331591,0,Cash loans,M,N,Y,1,247500.0,625536.0,22599.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
199771,331589,0,Cash loans,F,N,N,0,135000.0,742500.0,22509.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
199770,331588,0,Cash loans,F,N,N,0,225000.0,1325475.0,56160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199784,331606,0,Cash loans,M,Y,Y,0,292500.0,879480.0,25843.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199786,331608,0,Cash loans,M,N,Y,1,189000.0,481855.5,47070.0,...,0,0,0,0,0.0,0.0,0.0,3.0,0.0,2.0
199824,331652,0,Cash loans,M,Y,N,0,157500.0,675000.0,25015.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
199825,331653,0,Cash loans,M,Y,Y,2,162000.0,1350000.0,37255.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199826,331654,0,Cash loans,F,N,Y,0,315000.0,562491.0,23962.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
199827,331655,0,Cash loans,F,Y,Y,0,67500.0,808650.0,23773.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,5.0
199828,331656,0,Cash loans,F,N,Y,2,157500.0,298512.0,28039.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
199829,331658,0,Cash loans,F,N,Y,0,85500.0,254700.0,16713.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
199830,331659,0,Cash loans,F,N,Y,0,135000.0,553500.0,24511.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199831,331660,0,Cash loans,F,N,N,0,225000.0,1303812.0,38250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
199832,331661,0,Cash loans,F,N,N,0,67500.0,517500.0,26550.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199833,331663,0,Cash loans,F,N,Y,0,360000.0,509922.0,27297.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199834,331664,0,Cash loans,F,N,N,0,180000.0,1783683.0,66231.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
199835,331665,0,Cash loans,F,N,N,0,112500.0,381528.0,11695.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199837,331667,0,Cash loans,F,N,N,0,157500.0,813105.0,39249.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199838,331668,0,Cash loans,F,N,Y,0,112500.0,277969.5,12955.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
199840,331670,0,Cash loans,F,N,Y,1,76500.0,592560.0,26230.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
199841,331671,0,Cash loans,F,N,Y,0,67500.0,203760.0,12595.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,8.0
199842,331672,0,Cash loans,F,N,Y,0,81000.0,808650.0,26217.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199857,331690,0,Cash loans,M,Y,Y,0,225000.0,659610.0,21406.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199855,331688,0,Cash loans,M,N,Y,0,292500.0,252000.0,21685.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
199854,331687,1,Cash loans,M,N,N,0,103500.0,239850.0,25960.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199853,331685,0,Cash loans,F,N,N,1,112500.0,536917.5,27405.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
199852,331683,0,Cash loans,M,N,Y,1,112500.0,723996.0,30802.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
199851,331682,0,Cash loans,M,N,Y,0,112500.0,286704.0,22315.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199823,331651,0,Cash loans,F,N,Y,0,180000.0,616527.0,22275.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
199850,331681,0,Cash loans,M,Y,Y,0,315000.0,1649376.0,54639.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199848,331679,0,Cash loans,F,N,N,0,207000.0,383760.0,41458.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
199847,331677,0,Cash loans,F,N,Y,2,112500.0,76410.0,8748.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
199846,331676,0,Cash loans,F,Y,N,0,315000.0,1800000.0,47484.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN